@use '../abstracts' as *;

.catalog-block {
	margin-bottom: 4px;
	@media (max-width: 991px) {
		margin-bottom: 2px;
	}
	&__top {
		@include flex(row, space-between, center, 8px);
		margin-bottom: 20px;
		@media (max-width: 991px) {
			margin-bottom: 16px;
		}
	}

	&__title {
		@include text-style(28px, 500, 34px);
		@media (max-width: 991px) {
			@include text-style(20px, 500, 26px);
		}
	}

	&__link {
		@include flex(row, center, center, 4px);
		padding: 4px 8px 4px 12px;
		letter-spacing: 0.28px;
		text-transform: uppercase;
		@include text-style(14px, 500, 18px);
		border-radius: 200px;
		background: $white;
		img {
			@include transition;
		}
		&:hover {
			img {
				transform: scale(1.3);
			}
		}
		@media (max-width: 991px) {
			@include text-style(13px, 500, 16px);
		}
	}

	&__list {
		@include flex(row, flex-start, flex-start, 20px);
		flex-wrap: wrap;
		@media (max-width: 991px) {
			gap: 4px;
		}
	}

	&__item {
		width: 49%;
		@include flex(row, space-between, center, 12px);
		padding: 12px 20px;
		align-self: stretch;
		@include text-style(16px, 400, 22px);
		border-radius: 8px;
		background: rgba(255, 255, 255, 0.88);
		@media (max-width: 991px) {
			width: 100%;
			padding: 8px 12px;
			@include text-style(14px, 400, 18px);
		}
	}
}
