@use '../abstracts' as *;

.doctor-intro {
	position: relative;
	@include flex(column, space-between, flex-start);
	@include box(100%, 520px);
	padding: 44px;
	flex: 1 0 0;
	border-radius: 16px;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.32) 0%,
		rgba(0, 0, 0, 0.32) 100%
	);
	margin: 24px 0;
	overflow: hidden;
	@media (max-width: 991px) {
		margin: 2px 0;
		margin-left: -12px;
		width: calc(100% + 24px);
		height: 320px;
		padding: 16px 12px;
	}

	&__top {
		position: relative;
		z-index: 4;
		@include flex(column, flex-start, flex-start, 12px);
		@media (max-width: 991px) {
			gap: 8px;
		}
	}

	&__title {
		color: $white;
		@include text-style(36px, 500, 42px);
		@media (max-width: 991px) {
			@include text-style(24px, 500, 30px);
		}
	}

	&__btn {
		display: none;
		@media (max-width: 480px) {
			@include center;
			@include box(100%, 36px);
			padding: 8px 16px;
			color: $white;
			@include text-style(14px, 500, 18px, center);
			align-self: stretch;
			border-radius: 200px;
			background: $green;
			@include transition;
			&:hover {
				background: $text;
			}
		}
	}

	&__profession {
		color: $white;
		@include text-style(16px, 400, 22px);
		@media (max-width: 480px) {
			display: none;
		}
	}

	&__characteristics {
		@include flex(row, flex-start, center, 20px);
		@media (max-width: 480px) {
			display: none;
		}
	}

	&__characteristic {
		@include flex(row, center, center, 8px);
		color: $white;
		@include text-style(16px, 400, 22px);
	}

	&__locations {
		@include flex(row, flex-start, flex-start, 12px);
		@media (max-width: 480px) {
			display: none;
		}
	}

	&__location {
		@include flex(column, flex-start, flex-start, 8px);
		color: $white;
		@include text-style(16px, 400, 22px);
		text-decoration-line: underline;
		text-decoration-style: solid;
		text-decoration-skip-ink: auto;
		text-decoration-color: rgba(255, 255, 255, 0.4);
		text-decoration-thickness: auto;
		text-underline-offset: auto;
		text-underline-position: from-font;
	}

	&__anchor {
		@include center;
		padding: 8px 12px;
		@include text-style(16px, 500, 22px);
		border-radius: 6px;
		background: rgba(255, 255, 255, 0.8);
		backdrop-filter: blur(4px);
		@include transition;
		&:hover {
			color: $white;
			background: $text;
		}
		@media (max-width: 991px) {
			padding: 4px 8px;
			@include text-style(14px, 500, 18px);
		}
	}

	&__bottom {
		position: relative;
		z-index: 4;
		@include flex(column, flex-start, flex-start, 8px);
		@media (max-width: 991px) {
			gap: 4px;
		}
		@media (max-width: 480px) {
			display: none;
		}
	}

	&__slogan {
		@include center;
		padding: 8px 12px;
		color: $white;
		@include text-style(16px, 500, 22px);
		border-radius: 8px;
		background: rgba(67, 67, 74, 0.4);
	}

	&__search {
		position: relative;
		@include box(600px, 40px);
		@media (max-width: 991px) {
			width: 366px;
		}

		img {
			position: absolute;
			left: 12px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 2;
		}
		input {
			position: relative;
			@include box(100%);
			@include flex(row, flex-start, center);
			padding: 6px 12px 6px 40px;
			align-self: stretch;
			color: $white;
			@include text-style(14px, 400, 18px);
			border-radius: 6px;
			border: 1px solid rgba(0, 0, 0, 0.2);
			background: rgba(67, 67, 74, 0.8);
			backdrop-filter: blur(8px);
			z-index: 1;
			@include transition;
			&:focus {
				border-color: $white;
			}
			&::placeholder {
				color: #c5c5cc;
				opacity: 1;
			}
			@media (max-width: 991px) {
				@include text-style(13px, 400, 16px);
			}
		}
	}

	&__filters {
		@include flex(row, flex-start, center, 8px);
		@media (max-width: 991px) {
			gap: 4px;
		}
	}

	&__filter {
		@include flex(row, center, center, 8px);
		@include box(190px, 40px);
		padding: 6px 12px;
		@include text-style(14px, 400, 18px);
		border-radius: 6px;
		background: $white;
		@media (max-width: 991px) {
			@include box(181px, 40px);
			@include text-style(13px, 400, 16px);
		}
	}

	&__swiper {
		position: absolute;
		top: 0;
		right: 0;
		@include box(40%, 100%);
		@media (max-width: 480px) {
			width: 100%;
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			@include box(100%);
			background: linear-gradient(
				270deg,
				rgba(151, 156, 157, 0) 65%,
				#979c9d 100%
			);
			z-index: 2;
			pointer-events: none;
			@media (max-width: 480px) {
				background: linear-gradient(
					180deg,
					rgba(0, 0, 0, 0) 50%,
					rgba(0, 0, 0, 0.6) 100%
				);
			}
		}
	}

	.swiper-wrapper {
		@include box(100%);
	}

	&__slide {
		width: 100% !important;
		height: 100% !important;
	}

	&__slide > img {
		width: 100% !important;
		height: 100% !important;
		object-fit: cover;
	}

	&__swiper-pagination {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 12px;
		z-index: 2;
	}
	.swiper-pagination-bullet {
		@include box(6px);
		aspect-ratio: 1/1;
		border-radius: 200px;
		opacity: 0.2;
		background: #43434a;
	}
	.swiper-pagination-bullet-active {
		opacity: 1;
	}
}
