@use '../abstracts' as *;

.bottom {
	position: relative;
	padding: 44px;
	border-radius: 16px;
	background: rgba(67, 67, 74, 0.8);
	margin-bottom: 20px;
	overflow: hidden;
	@media (max-width: 991px) {
		padding: 120px 12px 140px 12px;
		width: calc(100% + 24px);
		margin-left: -12px;
		margin-bottom: 0;
	}

	&__bg-element {
		position: absolute;
		top: -163px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		transform-origin: center center;
		animation: spin 20s linear infinite;
	}
}
.footer {
	position: relative;
	z-index: 2;
	@media (max-width: 991px) {
		display: none;
	}
	&__row {
		@include flex(row, space-between, flex-start, 40px);
	}

	&__col {
		&.first {
			width: 25%;
			@media (max-width: 1248px) {
				width: 33%;
			}
		}
		&.second {
			width: 50%;
			@media (max-width: 1248px) {
				width: 33%;
			}
		}
		&.third {
			width: 25%;
			@media (max-width: 1248px) {
				width: 33%;
			}
		}
	}

	&__contacts {
		@include flex(column, flex-start, flex-start, 20px);
	}

	&__logo {
		@include center;
	}

	&__btn {
		@include center;
		height: 48px;
		padding: 12px 45px;
		color: $white;
		@include text-style(14px, 500, 18px, center);
		border-radius: 200px;
		background: $green;
		@include transition;
		&:hover {
			background-color: $text;
		}
	}

	&__tell {
		@include box(100%, 48px);
		@include flex(row, center, center, 8px);
		padding: 12px 16px;
		color: $white;
		@include text-style(16px, 500, 22px);
		border-radius: 200px;
		background: rgba(67, 67, 74, 0.8);
		backdrop-filter: blur(8px);
	}

	&__socials {
		@include box(100%, 48px);
		@include flex(row, center, center);
		padding: 12px 16px;
		gap: 24px;
		border-radius: 200px;
		background: rgba(67, 67, 74, 0.8);
		backdrop-filter: blur(8px);
	}

	&__social {
		@include center;
	}

	&__text {
		color: $white;
		@include text-style(14px, 400, 18px);
	}

	&__list {
		@include flex(row, flex-start, center, 20px);
	}

	&__list-link {
		color: $white;
		@include text-style(14px, 400, 18px);
	}

	&__medals {
		@include flex(row, flex-start, center, 8px);
	}

	&__medal {
		@include center;
	}

	&__col-title {
		color: $white;
		@include text-style(20px, 500, 26px);
		margin-bottom: 20px;
	}

	&__col-list.first {
		@include flex(row, flex-start, flex-start, 20px);
		row-gap: 4px;
		flex-wrap: wrap;
		.footer__col-item {
			width: 48%;
			@media (max-width: 1248px) {
				width: 100%;
			}
		}
	}

	&__col-list.second {
		@include flex(column, flex-start, flex-start, 4px);
		.footer__col-item {
			width: 100%;
		}
	}

	&__col-item {
		@include box(auto, 40px, 200px);
		background: rgba(67, 67, 74, 0.8);
		backdrop-filter: blur(8px);
		@include transition;
		&:hover {
			background: rgba(130, 200, 60, 0.8);
			a {
				color: $white;
			}
			svg {
				fill: $white;
			}
		}
	}
	&__col-item > a {
		@include box(100%);
		@include flex(row, space-between, center, 12px);
		padding: 12px 20px;
		color: $white;
		@include text-style(14px, 400, 18px);
		@include transition;
		svg {
			fill: $green;
			@include transition;
		}
	}

	&__site-create {
		margin-top: 20px;
		color: $white;
		@include text-style(14px, 400, 18px, center);
	}
}

.footer-mobile {
	display: none;
	@media (max-width: 991px) {
		display: block;
		position: relative;
		z-index: 2;
	}
	&__list {
		width: 100%;
		@include flex(column, center, center, 4px);
	}

	&__item {
		width: 100%;
		border-radius: 200px;
		background: rgba(67, 67, 74, 0.8);
		backdrop-filter: blur(8px);
	}

	&__item > a {
		@include box(100%);
		padding: 12px 16px;
		@include flex(row, space-between, center);
		color: $white;
		@include text-style(14px, 400, 18px);
	}

	&__contacts {
		margin-top: 4px;
		width: 100%;
		@include flex(row, center, center, 4px);
		margin-bottom: 12px;
	}

	&__number {
		@include box(60%, 48px, 200px);
		@include flex(row, center, center, 8px);
		padding: 12px 16px;
		background: rgba(67, 67, 74, 0.8);
		backdrop-filter: blur(8px);
		color: $white;
		@include text-style(14px, 500, 18px);
		img {
			@include box(24px);
		}
	}

	&__socials {
		@include box(40%, 48px, 200px);
		@include flex(row, space-around, center, 12px);
		padding: 12px 16px;
		background: rgba(67, 67, 74, 0.8);
		backdrop-filter: blur(8px);
	}

	&__social {
		@include center;
	}

	&__polite {
		display: block;
		color: $white;
		@include text-style(13px, 400, 16px, center);
		margin-bottom: 12px;
	}

	&__documents {
		width: 100%;
		@include flex(row, center, center, 12px);
		margin-bottom: 12px;
	}

	&__document {
		width: 114px;
		color: $white;
		@include text-style(13px, 400, 16px, center);
	}

	&__text {
		color: $white;
		@include text-style(13px, 400, 16px, center);
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}
}

@keyframes spin {
	from {
		transform: translateX(-50%) rotate(0deg);
	}
	to {
		transform: translateX(-50%) rotate(360deg);
	}
}
