@use '../abstracts' as *;
.form-second {
	margin-bottom: 4px;
	@media (max-width: 991px) {
		margin-bottom: 2px;
		border-radius: 16px;
		overflow: hidden;
		padding: 24px 12px 0 12px;
		width: calc(100% + 24px);
		margin-left: -12px;
	}
	.form__block-right {
		padding-bottom: 16px;
	}
}
.form {
	background: $bg;
	margin-bottom: 4px;
	@media (max-width: 991px) {
		background: linear-gradient(
			260deg,
			rgba(255, 255, 255, 0.88) 0%,
			rgba(255, 255, 255, 0.35) 100%
		);
		margin-bottom: 2px;
	}

	&__title-mobile {
		display: none;
		@media (max-width: 991px) {
			display: block;
			@include text-style(20px, 500, 26px, center);
			margin-bottom: 16px;
		}
	}

	&__block {
		margin: auto;
		max-width: 1240px;
		@include box(100%, auto);
		border-radius: 16px;
		background: linear-gradient(
			260deg,
			rgba(255, 255, 255, 0.88) 0%,
			rgba(255, 255, 255, 0.35) 100%
		);
		@include flex(row, space-between, center, 80px);
		@media (max-width: 991px) {
			max-width: 100%;
			background: none;
			gap: 16px;
		}
	}

	&__block-left {
		width: 50%;
		height: 100%;
		@include center;
		@media (max-width: 991px) {
			width: 40%;
			margin-bottom: -24px;
		}
		@media (max-width: 767px) {
			margin-bottom: -60px;
		}
	}

	&__block-right {
		@include flex(column, flex-start, flex-start);
	}

	&__block-title {
		@include text-style(28px, 500, 34px);
		margin-bottom: 20px;
		@media (max-width: 991px) {
			display: none;
		}
	}

	&__block-text {
		@include text-style(16px, 400, 22px);
		margin-bottom: 20px;
		@media (max-width: 991px) {
			display: none;
		}
	}

	&__block-form {
		@include flex(row, flex-start, center, 12px);
		margin-bottom: 40px;
		@media (max-width: 991px) {
			width: 100%;
			flex-direction: column;
			gap: 8px;
			margin-bottom: 12px;
		}
	}

	&__block-input {
		@include flex(row, flex-start, center, 10px);
		padding: 12px 16px;
		flex: 1 0 0;
		@include text-style(16px, 400, 22px);
		border-radius: 8px;
		border: 1px solid rgba(67, 67, 74, 0.12);
		background: rgba(67, 67, 74, 0.12);
		&::placeholder {
			color: $text;
			opacity: 1;
		}
		@media (max-width: 991px) {
			@include box(100%, 40px);
			padding: 8px 12px;
			@include text-style(14px, 400, 18px);
		}
	}

	&__block-btn {
		@include center;
		height: 48px;
		padding: 12px 45px;
		color: $white;
		@include text-style(14px, 500, 18px, center);
		border-radius: 200px;
		background: $green;
		@include transition;
		@media (max-width: 991px) {
			@include box(100%, 36px);
			padding: 8px 16px;
		}
		&:hover {
			background: $text;
		}
	}

	&__block-name {
		margin-bottom: 20px;
		@media (max-width: 991px) {
			margin-bottom: 8px;
		}
		p:first-child {
			@include text-style(20px, 500, 26px);
			@media (max-width: 991px) {
				@include text-style(16px, 500, 20px);
			}
		}
		p:last-child {
			@include text-style(14px, 400, 18px);
			@media (max-width: 991px) {
				@include text-style(12px, 400, 16px);
			}
		}
	}

	&__block-contacts {
		@include flex(column, flex-start, flex-start, 8px);
		a {
			@include flex(row, flex-start, center, 8px);
			@include text-style(16px, 400, 22px);
			@media (max-width: 991px) {
				@include text-style(14px, 400, 18px);
			}
		}
	}
}
