@use '../abstracts' as *;

.help {
	&__title {
		@include text-style(28px, 500, 34px);
		margin-bottom: 20px;
		@media (max-width: 991px) {
			@include text-style(20px, 500, 26px);
			margin-bottom: 16px;
		}
	}

	&__block {
		width: 100%;
		@include flex(row, flex-start, flex-start, 20px);
	}

	&__block-left {
		width: 50%;
		@media (max-width: 991px) {
			width: 100%;
		}
	}

	&__block-left--list {
		width: 100%;
		@include flex(column, flex-start, flex-start, 20px);
		@media (max-width: 991px) {
			gap: 4px;
		}
	}

	&__block-left--item {
		@include flex(row, space-between, center, 12px);
		padding: 12px 20px;
		align-self: stretch;
		@include text-style(16px, 400, 22px);
		border-radius: 8px;
		background: rgba(255, 255, 255, 0.88);
		@media (max-width: 991px) {
			padding: 8px 12px;
			@include text-style(14px, 400, 18px);
		}
	}

	&__block-left--anchor {
		@include flex(row, center, center, 4px);
		padding: 8px 12px 8px 16px;
		color: #7f7f86;
		@include text-style(14px, 400, 18px);
		border-radius: 200px;
		background: $white;
		@media (max-width: 991px) {
			margin: auto;
			margin-top: 12px;
			padding: 4px 8px 4px 12px;
			@include text-style(13px, 400, 16px);
		}
	}

	&__block-right {
		width: 50%;
		@media (max-width: 991px) {
			display: none;
		}
	}

	&__block-video {
		position: relative;
		@include box(100%, 310px, 8px);
		overflow: hidden;
	}

	&__block-right--iframe {
		@include box(100%);
	}

	&__block-right--img {
		position: absolute;
		left: 0;
		top: 0;
		@include box(100%);
		object-fit: cover;
		z-index: 2;
	}

	&__block-right--overlay {
		position: absolute;
		left: 0;
		top: 0;
		@include box(100%);
		z-index: 3;
		@include center;
	}

	&__block-right--play {
		@include center;
		padding: 4px;
		border-radius: 200px;
		background: $green;
	}
}

.help-mobile {
	display: none;
	@media (max-width: 991px) {
		@include flex(column, center, center, 8px);
	}
	&__top {
		@include flex(column, center, flex-start, 12px);
		padding: 16px;
		align-self: stretch;
		border-radius: 8px;
		background: rgba(255, 255, 255, 0.88);
	}

	&__top--text {
		@include text-style(14px, 400, 18px);
	}

	&__top--info {
		@include flex(row, flex-start, center, 20px);
	}

	&__top--info-item {
		@include flex(row, flex-start, center, 8px);
		@include text-style(14px, 400, 18px);
	}

	&__top--contacts {
		@include flex(row, flex-start, flex-start, 12px);
	}

	&__top--contacts-item {
		@include flex(column, flex-start, flex-start, 8px);
		a {
			@include text-style(14px, 400, 18px);
			text-decoration-line: underline;
			text-decoration-style: solid;
			text-decoration-skip-ink: auto;
			text-decoration-color: rgba(67, 67, 74, 0.4);
			text-decoration-thickness: auto;
			text-underline-offset: auto;
			text-underline-position: from-font;
		}
	}

	&__bottom {
		width: 100%;
		@include flex(column, center, center, 8px);
	}

	&__block-video {
		position: relative;
		@include box(100%, 200px, 8px);
		overflow: hidden;
	}

	&__block-right--iframe {
		@include box(100%);
	}

	&__block-right--img {
		position: absolute;
		top: 0;
		left: 0;
		@include box(100%);
		object-fit: cover;
		@include center;
		z-index: 2;
	}

	&__block-right--overlay {
		position: absolute;
		top: 0;
		left: 0;
		@include box(100%);
		@include center;
		z-index: 3;
	}

	&__block-right--play {
		@include center;
		padding: 4px;
		border-radius: 200px;
		background: $green;
	}

	&__bottom-slogan {
		@include flex(row, flex-end, flex-start, 8px);
		padding: 8px 12px;
		align-self: stretch;
		color: $white;
		@include text-style(14px, 500, 18px);
		border-radius: 8px;
		background: rgba(67, 67, 74, 0.4);
	}
}
