@use '../abstracts' as *;

.info {
	margin-bottom: 4px;
	@media (max-width: 991px) {
		margin-bottom: 2px;
	}
	h2 {
		@include text-style(20px, 500, 26px);
	}
	p,
	li {
		@include text-style(16px, 400, 22px);
	}
	ol {
		list-style-type: decimal;
		margin-left: 20px;
	}
	ul {
		list-style-type: disc;
		margin-left: 20px;
	}
}
