@use '../abstracts' as *;

.doctors-intro {
	@include flex(column, space-between, flex-start);
	@include box(100%, 520px);
	padding: 44px;
	flex: 1 0 0;
	border-radius: 16px;
	background-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.32) 0%,
			rgba(0, 0, 0, 0.32) 100%
		),
		url(../img/intro-doctors-page.png);

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 24px 0;
	@media (max-width: 991px) {
		margin: 2px 0;
		margin-left: -12px;
		width: calc(100% + 24px);
		height: 320px;
		padding: 16px 12px;
	}

	&__top {
		@include flex(column, flex-start, flex-start, 12px);
		@media (max-width: 991px) {
			gap: 8px;
		}
	}

	&__title {
		color: $white;
		@include text-style(36px, 500, 42px);
		@media (max-width: 991px) {
			@include text-style(24px, 500, 30px);
		}
	}

	&__btn {
		@include center;
		@include box(fit-content, 40px);
		padding: 12px 36px;
		color: $white;
		@include text-style(14px, 500, 18px, center);
		border-radius: 200px;
		background: $green;
		@include transition;
		&:hover {
			background: $text;
		}
		@media (max-width: 991px) {
			height: 36px;
			padding: 8px 16px;
		}
	}

	&__row {
		width: fit-content;
		@include flex(row, flex-start, center, 4px);
	}

	&__anchor {
		@include center;
		padding: 8px 12px;
		@include text-style(16px, 500, 22px);
		border-radius: 6px;
		background: rgba(255, 255, 255, 0.8);
		backdrop-filter: blur(4px);
		@include transition;
		&:hover {
			color: $white;
			background: $text;
		}
		@media (max-width: 991px) {
			padding: 4px 8px;
			@include text-style(14px, 500, 18px);
		}
	}

	&__middle {
		@include flex(column, flex-start, flex-start, 8px);
		a {
			@include flex(row, flex-start, center, 8px);
			color: $white;
			@include text-style(16px, 400, 22px);
			@media (max-width: 991px) {
				@include text-style(14px, 400, 18px);
			}
		}
	}

	&__bottom {
		@include flex(column, flex-start, flex-start, 8px);
		@media (max-width: 991px) {
			gap: 4px;
		}
	}

	&__bottom-btns {
		@include flex(row, flex-start, center, 8px);
		flex-wrap: wrap;
		max-width: 720px;
		width: 100%;
		margin-bottom: 40px;
		@media (max-width: 991px) {
			max-width: 100%;
			margin-bottom: 16px;
		}
	}

	&__bottom-btns--phone {
		@include flex(row, center, center, 12px);
		padding: 12px 20px;
		flex: 1 0 0;
		color: $white;
		@include text-style(16px, 500, 22px);
		white-space: nowrap;
		border-radius: 200px;
		background: rgba(67, 67, 74, 0.8);
		backdrop-filter: blur(8px);
		@include transition;
		&:hover {
			color: $green;
		}
		@media (max-width: 991px) {
			justify-content: flex-start;
			padding: 8px 20px;
			@include text-style(14px, 500, 18px);
		}
	}

	&__bottom-btns--record {
		@include center;
		@include box(fit-content, 48px);
		padding: 8px 16px;
		flex: 1 0 0;
		color: $white;
		@include text-style(14px, 500, 18px, center);
		white-space: nowrap;
		border-radius: 200px;
		background: $green;
		@include transition;
		&:hover {
			background: $text;
		}
		@media (max-width: 991px) {
			height: 36px;
		}
	}

	&__bottom-btns--location {
		@include center;
		@include box(fit-content, 48px);
		padding: 8px 16px;
		flex: 1 0 0;
		color: $white;
		@include text-style(14px, 500, 18px, center);
		border-radius: 200px;
		background: $text;
		@include transition;
		&:hover {
			background: $green;
		}
		@media (max-width: 991px) {
			height: 36px;
		}
	}

	&__bottom-reviews {
		@include flex(row, flex-start, flex-start, 4px);
	}

	&__bottom-review {
		width: 237px;
		@include flex(column, center, center, 8px);
		padding: 8px 4px 4px 4px;
		flex: 1 0 0;
		border-radius: 8px;
		background: rgba(255, 255, 255, 0.88);
		@media (max-width: 991px) {
			width: 119px;
		}
	}

	&__bottom-review--logo {
		height: 32px;
		border-radius: 4px;
		object-fit: cover;
	}

	&__bottom-review--list {
		@include flex(row, center, flex-start, 2px);
		width: 100%;
	}

	&__bottom-review--item {
		width: 50%;
		@include flex(row, center, center, 6px);
		padding: 4px;
		flex: 1 0 0;
		@include text-style(14px, 500, 18px);
		border-radius: 6px;
		background: rgba(255, 255, 255, 0.8);
		img {
			@include box(16px);
		}
		@media (max-width: 991px) {
			@include text-style(12px, 500, 16px);
		}
	}

	&__text {
		color: $white;
		@include text-style(16px, 400, 22px);
		@media (max-width: 991px) {
			@include text-style(14px, 400, 18px);
		}
	}

	&__search {
		position: relative;
		@include box(600px, 40px);
		@media (max-width: 991px) {
			width: 366px;
		}

		img {
			position: absolute;
			left: 12px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 2;
		}
		input {
			position: relative;
			@include box(100%);
			@include flex(row, flex-start, center);
			padding: 6px 12px 6px 40px;
			align-self: stretch;
			color: $white;
			@include text-style(14px, 400, 18px);
			border-radius: 6px;
			border: 1px solid rgba(0, 0, 0, 0.2);
			background: rgba(67, 67, 74, 0.8);
			backdrop-filter: blur(8px);
			z-index: 1;
			@include transition;
			&:focus {
				border-color: $white;
			}
			&::placeholder {
				color: #c5c5cc;
				opacity: 1;
			}
			@media (max-width: 991px) {
				@include text-style(13px, 400, 16px);
			}
		}
	}
}
.about-us-intro {
	height: 644px;
	@media (max-width: 991px) {
		height: 542px;
	}
}

.doctors-intro__filters {
	@include flex(row, flex-start, center, 8px);
}

.doctors-intro__filter {
	position: relative;
}

.doctors-intro__filter-btn {
	@include flex(row, flex-start, center, 8px);
	@include box(190px, 40px, 6px);
	padding: 6px 12px;
	@include text-style(14px, 400, 18px);
	background: $white;
	@media (max-width: 991px) {
		gap: 4px;
		width: 181px;
		@include text-style(13px, 400, 16px);
	}
}

.doctors-intro__dropdown {
	display: none;
	position: absolute;
	top: calc(100% + 4px);
	left: 0;
	background: $white;
	padding: 6px 12px;
	z-index: 10;
	width: 100%;
	border-radius: 6px;
}

.doctors-intro__filter.active .doctors-intro__dropdown {
	display: block;
}

.custom-checkbox {
	position: relative;
	@include flex(row, flex-start, center);
	cursor: pointer;
	padding-left: 28px;
	@include text-style(14px, 400, 18px);
	margin-bottom: 4px;
	@media (max-width: 991px) {
		@include text-style(13px, 400, 16px);
	}
}

.custom-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.custom-checkbox .checkmark {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	@include box(18px, 18px, 4px);
	background-color: $white;
	border: 2px solid $green;
	@include transition;
}

.custom-checkbox input:checked ~ .checkmark {
	background-color: $green;
}

.custom-checkbox .checkmark::after {
	content: '';
	position: absolute;
	display: none;
	left: 4px;
	top: 1px;
	@include box(4px, 8px);
	border: solid $white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.custom-checkbox input:checked ~ .checkmark::after {
	display: block;
}
