@use '../abstracts' as *;

.packet-intro {
	@media (max-width: 991px) {
		.cases-intro__bottom {
			width: 100%;
		}
		.doctors-intro__filters {
			width: 100%;
		}
		.doctors-intro__filter {
			width: 100%;
		}
	}
}
.packet {
	margin-bottom: 4px;
	@media (max-width: 991px) {
		margin-bottom: 2px;
	}
	&__list {
		@include flex(row, flex-start, flex-start, 20px);
		flex-wrap: wrap;
		width: 100%;
		@media (max-width: 991px) {
			gap: 8px;
		}
	}

	&__list-item {
		@include flex(column, space-between, flex-end);
		flex: 0 0 48%;
		max-width: 50%;
		height: 520px;
		align-self: stretch;
		border-radius: 16px;
		overflow: hidden;
		@media (max-width: 991px) {
			height: 250px;
			border-radius: 8px;
		}
	}

	&__list-item.large {
		@include flex(column, space-between, flex-end);
		flex: 0 0 100%;
		max-width: 100%;
		height: 520px;
		align-self: stretch;
		border-radius: 16px;
		overflow: hidden;
		@media (max-width: 991px) {
			height: 510px;
			border-radius: 8px;
		}
	}

	&__list-item--card {
		position: relative;
		@include box(100%);
		&:hover {
			.packet__list-item--link {
				@include box(48px);
			}
			.packet__list-item--img {
				transform: scale(1.2);
			}
			.packet__list-item--info {
				background: rgba(67, 67, 74, 0.6);
			}
		}
	}

	&__list-item--link {
		position: absolute;
		top: 4px;
		right: 4px;
		@include box(32px);
		@include center;
		padding: 4px;
		border-radius: 200px;
		background: $green;
		@include transition;
		z-index: 2;
	}

	&__list-item--img {
		@include box(100%);
		object-fit: cover;
		@include transition;
	}

	&__list-item--info {
		position: absolute;
		left: 4px;
		bottom: 5px;
		width: calc(100% - 8px);
		@include flex(column, flex-start, flex-start, 8px);
		padding: 12px;
		align-self: stretch;
		border-radius: 12px;
		background: rgba(67, 67, 74, 0.4);
		backdrop-filter: blur(8px);
		@include transition;
		@media (max-width: 991px) {
			gap: 4px;
			padding: 8px;
			border-radius: 6px;
		}
	}

	&__list-item--date {
		color: $white;
		@include text-style(14px, 400, 18px);
		@media (max-width: 991px) {
			@include text-style(12px, 400, 16px);
		}
	}

	&__list-item--title {
		color: $white;
		@include text-style(20px, 500, 26px);
		@media (max-width: 991px) {
			@include text-style(14px, 500, 18px);
		}
	}

	&__list-item--location {
		width: 100%;
		@include flex(row, space-between, center, 8px);
		padding: 8px 12px;
		border-radius: 6px;
		background: rgba(67, 67, 74, 0.4);
		backdrop-filter: blur(8px);
		@media (max-width: 991px) {
			padding: 8px;
		}
		p {
			width: 100%;
			color: $white;
			@include text-style(14px, 400, 18px);
			@media (max-width: 991px) {
				@include text-style(12px, 400, 16px);
			}
		}
		span {
			@include center;
			padding: 2px 6px;
			@include text-style(14px, 400, 18px);
			border-radius: 6px;
			background: rgba(255, 255, 255, 0.8);
			backdrop-filter: blur(4px);
			@media (max-width: 991px) {
				@include text-style(12px, 400, 16px);
			}
		}
	}

	&__btn {
		margin: auto;
		margin-top: 20px;
		@include center;
		height: 40px;
		padding: 12px 36px;
		color: $white;
		@include text-style(14px, 500, 18px, center);
		border-radius: 200px;
		background: $green;
		@include transition;
		&:hover {
			background: $text;
		}
		@media (max-width: 991px) {
			margin-top: 16px;
			@include box(100%, 36px);
			padding: 8px 16px;
		}
	}
}
