@use '../abstracts' as *;

.partners {
	margin-bottom: 4px;
	@media (max-width: 991px) {
		margin-bottom: 2px;
	}
	&__title {
		@include text-style(28px, 500, 34px);
		margin-bottom: 20px;
		@media (max-width: 991px) {
			@include text-style(20px, 500, 26px);
			margin-bottom: 16px;
		}
	}

	&__swiper {
		@media (max-width: 991px) {
			width: calc(100% + 12px);
		}
	}

	&__card {
		position: relative;
		@include flex(column, space-between, flex-end);
		height: 312px;
		flex: 1 0 0;
		border-radius: 8px;
		@media (max-width: 991px) {
			height: 240px;
		}
		&:hover {
			.partners__link {
				transform: scale(1.2);
			}
		}
	}

	&__link {
		position: absolute;
		top: 8px;
		right: 8px;
		@include center;
		@include box(32px, 32px, 200px);
		padding: 4px;
		background: $green;
		@include transition;
		@media (max-width: 991px) {
			top: 4px;
			right: 4px;
		}
	}

	&__img {
		@include box(100%);
		object-fit: cover;
		border-radius: 8px;
	}

	&__info {
		position: absolute;
		left: 8px;
		bottom: 8px;
		width: calc(100% - 16px);
		@include flex(column, flex-start, flex-start, 4px);
		padding: 12px;
		border-radius: 6px;
		background: rgba(67, 67, 74, 0.4);
		backdrop-filter: blur(8px);
		@media (max-width: 991px) {
			left: 4px;
			bottom: 4px;
			padding: 8px;
			width: calc(100% - 8px);
		}
		p {
			color: $white;
			@include text-style(16px, 400, 22px);
			@media (max-width: 991px) {
				@include text-style(14px, 500, 18px);
			}
		}
	}

	&__pagination {
		margin-top: 24px;
		@include flex(row, flex-start, center, 8px);
		@media (max-width: 991px) {
			margin-top: 16px;
		}
		.swiper-pagination-bullet {
			@include box(24px, 3px, 200px);
			opacity: 0.2;
			background: $green;
			@include transition;
			margin: 0 !important;
		}
		.swiper-pagination-bullet-active {
			opacity: 1;
		}
	}
}
