@use '../abstracts' as *;

.price {
	@include flex(column, flex-start, flex-start, 20px);
	margin-bottom: 4px;
	@media (max-width: 991px) {
		gap: 16px;
		margin-bottom: 2px;
	}
	&__top {
		width: 100%;
		@include flex(row, space-between, center);
	}

	&__top-title {
		@include text-style(28px, 500, 34px);
		@media (max-width: 991px) {
			@include text-style(20px, 500, 26px);
		}
	}

	&__top-link {
		@include flex(row, center, center, 4px);
		padding: 4px 8px 4px 12px;
		@include text-style(14px, 500, 18px);
		letter-spacing: 0.28px;
		text-transform: uppercase;
		border-radius: 200px;
		background: $white;
		@media (max-width: 991px) {
			@include text-style(13px, 500, 16px);
		}
		img {
			@include transition;
		}
		&:hover {
			img {
				transform: scale(1.3);
			}
		}
	}

	&__list {
		width: 100%;
		@include flex(column, flex-start, flex-start, 20px);
		@media (max-width: 991px) {
			gap: 4px;
		}
	}

	&__item {
		@include flex(column, center, flex-start);
		padding: 20px;
		align-self: stretch;
		border-radius: 8px;
		background: rgba(255, 255, 255, 0.88);
		@include transition;
		@media (max-width: 991px) {
			padding: 16px;
		}
	}

	&__item-top {
		width: 100%;
		@include flex(row, space-between, center);
		cursor: pointer;
	}

	&__item-bottom {
		width: 100%;
		max-height: 0;
		overflow: hidden;
		@include transition;
	}

	&__item-bottom--list {
		padding-top: 12px;
		width: 100%;
		@include flex(column, flex-start, flex-start, 12px);
		@media (max-width: 991px) {
			padding-top: 8px;
			gap: 8px;
		}
	}

	&__item-bottom--item {
		width: 100%;
		@include flex(row, space-between, center);
		a {
			color: #7f7f86;
			@include text-style(16px, 400, 22px);
			text-decoration-line: underline;
			text-decoration-style: solid;
			text-decoration-skip-ink: auto;
			text-decoration-color: rgba(127, 127, 134, 0.4);
			text-decoration-thickness: auto;
			text-underline-offset: auto;
			text-underline-position: from-font;
			@media (max-width: 991px) {
				@include text-style(14px, 400, 18px);
			}
		}
		span {
			@include text-style(16px, 400, 22px);
			@media (max-width: 991px) {
				@include text-style(14px, 400, 18px);
			}
		}
	}

	&__text {
		@include text-style(16px, 400, 22px);
		@media (max-width: 991px) {
			@include text-style(14px, 400, 18px);
		}
	}

	&__btn {
		display: none;
		@media (max-width: 991px) {
			@include center;
			@include box(100%, 36px);
			padding: 8px 16px;
			color: $white;
			@include text-style(14px, 500, 18px, center);
			align-self: stretch;
			border-radius: 200px;
			background: $green;
			@include transition;
			&:hover {
				background: $text;
			}
		}
	}
}
