@use '../abstracts' as *;

.section {
	margin-bottom: 4px;
	@media (max-width: 991px) {
		margin-bottom: 2px;
	}
}
.reviews {
	&__title {
		@include text-style(28px, 500, 34px, center);
		margin-bottom: 20px;
		@media (max-width: 991px) {
			@include text-style(20px, 500, 26px);
			margin-bottom: 16px;
		}
	}

	&__list {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(3, 1fr);
		@media (max-width: 991px) {
			gap: 4px;
		}
	}

	&__item {
		@include flex(column, center, center, 12px);
		padding: 12px;
		border-radius: 8px;
		background: rgba(255, 255, 255, 0.88);
		@media (max-width: 991px) {
			padding: 8px 4px 4px 4px;
			gap: 8px;
		}
	}

	&__logo {
		@media (max-width: 991px) {
			width: 100%;
		}
	}

	&__bottom {
		width: 100%;
		@include flex(row, space-between, center, 4px);
		@media (max-width: 991px) {
			gap: 2px;
		}
	}

	&__bottom-block {
		width: 50%;
		@include flex(row, center, center, 8px);
		padding: 8px;
		border-radius: 6px;
		background: #fff;
		.desktop {
			@include center;
			@media (max-width: 991px) {
				display: none;
			}
		}
		.mobile {
			display: none;
			@media (max-width: 991px) {
				@include center;
			}
		}
		img {
			@media (max-width: 991px) {
				@include box(16px);
			}
		}
		span {
			@include text-style(14px, 500, 18px);
			@media (max-width: 991px) {
				@include text-style(12px, 500, 16px);
			}
		}
	}
}
