@use '../abstracts' as *;

.tape {
	overflow: hidden;
	display: flex;
	white-space: nowrap;
	padding: 20px 0;
	margin-bottom: 4px;
	@media (max-width: 991px) {
		padding: 24px 0;
		margin-bottom: 2px;
	}
}

.tape__list {
	@include flex(row, center, center, 24px);
	flex-shrink: 0;
	animation: tapeMove 20s linear infinite;
	margin-left: 24px;
	margin-bottom: 4px;
	@media (max-width: 991px) {
		gap: 20px;
	}
}

@keyframes tapeMove {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

.tape__item {
	display: flex;
	align-items: center;
	white-space: nowrap;
	@include text-style(16px, 400, 22px, center);
	@media (max-width: 991px) {
		@include text-style(14px, 400, 18px, center);
	}
}
