@use './base/reset' as *;
@use './base/base' as *;

@use './blocks/header' as *;
@use './blocks/hero' as *;
@use './blocks/services' as *;
@use './blocks/advantages' as *;
@use './blocks/tape' as *;
@use './blocks/reviews' as *;
@use './blocks/locations' as *;
@use './blocks/doctors' as *;
@use './blocks/insurance' as *;
@use './blocks/partners' as *;
@use './blocks/clients' as *;
@use './blocks/info' as *;
@use './blocks/form' as *;
@use './blocks/subscription' as *;
@use './blocks/intro' as *;
@use './blocks/specialists' as *;
@use './blocks/faq' as *;
@use './blocks/footer' as *;
@use './blocks/modal' as *;
