@use './base/reset' as *;
@use './base/base' as *;

@use './blocks/header' as *;
@use './blocks/hero' as *;
@use './blocks/services' as *;
@use './blocks/advantages' as *;
@use './blocks/tape' as *;
@use './blocks/reviews' as *;
@use './blocks/locations' as *;
@use './blocks/doctors' as *;
@use './blocks/insurance' as *;
@use './blocks/partners' as *;
@use './blocks/clients' as *;
@use './blocks/info' as *;
@use './blocks/form' as *;
@use './blocks/subscription' as *;
@use './blocks/intro' as *;
@use './blocks/specialists' as *;
@use './blocks/faq' as *;
@use './blocks/doctor-intro' as *;
@use './blocks/help' as *;
@use './blocks/consultation' as *;
@use './blocks/education' as *;
@use './blocks/diplomas' as *;
@use './blocks/cases' as *;
@use './blocks/doctor-reviews' as *;
@use './blocks/cases-intro' as *;
@use './blocks/cases-block' as *;
@use './blocks/case-intro' as *;
@use './blocks/case' as *;
@use './blocks/author' as *;
@use './blocks/service-switcher' as *;
@use './blocks/price' as *;
@use './blocks/shares' as *;
@use './blocks/our-dentistry' as *;
@use './blocks/map' as *;
@use './blocks/catalog' as *;
@use './blocks/about-us' as *;
@use './blocks/footer' as *;
@use './blocks/modal' as *;
