@use './base/reset' as *;
@use './base/base' as *;

@use './blocks/header' as *;
@use './blocks/hero' as *;
@use './blocks/services' as *;
@use './blocks/advantages' as *;
@use './blocks/footer' as *;
@use './blocks/modal' as *;
